/* Start adding your styling below! */ 
body {
    background-color: rgb(255, 179, 0);
    
}

p {
    color: rgb(33, 122, 63);
}

h1 {
    font-size: 36px;
}

.center {
    text-align: center;
}

.cool-text {
    color:rgb(25, 180, 219);
}

#list-color {
    color: rgb(13, 63, 135);
}
